/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #000;
  font-family: montserrat, sans-serif;
}

canvas {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
}

.wrapper {
  position: relative;
}

.hero {
  height: 90vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero h1 {
  font-size: 3em;
  color: #fff;
}
.hero h1.top {
  animation: title-slide-in-left 1.5s ease-out 0s 1 normal forwards;
}
.hero h1.bottom {
  animation: title-slide-in-right 1.5s ease-out 0s 1 normal forwards;
}
.hero span {
  color: rgb(1, 143, 133);
}
.hero a {
  position: relative;
  margin-top: 2em;
  color: rgb(1, 143, 133);
  border: 2px solid rgb(1, 143, 133);
  border-radius: 5px;
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  width: 8em;
  opacity: 0;
  animation: slide-in-bottom 1.5s ease-out 0.3s 1 normal forwards;
}
.hero a::after, .hero a::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  height: 100%;
  width: 100%;
  border: 2px solid rgb(1, 143, 133);
  transform-origin: 50%;
  border-radius: 5px;
}
.hero a:hover::after {
  filter: blur(2px);
  transform: scale(1.3, 2);
  opacity: 0;
  transition-duration: 1.2s;
  transition-timing-function: ease;
}
.hero a:hover::before {
  filter: blur(2px);
  transform: scale(1.3, 2);
  opacity: 0;
  transition-duration: 1.2s;
  transition-delay: 0.2s;
  transition-timing-function: ease;
}

nav {
  position: sticky;
  top: 0vh;
  height: 10vh;
  background-color: rgb(60, 60, 60);
  color: #fff;
  z-index: 10;
  border-bottom: 10px solid #282828;
}
nav .header-container {
  display: flex;
  height: 100%;
  width: 97vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  font-size: 1em;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul.social li {
  font-size: 1.5em;
}
nav ul.social svg {
  fill: #ccc;
  width: 1.5em;
  height: 1.5em;
}
nav ul.social svg:hover {
  fill: #fff;
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
}
nav ul.navigation {
  margin-left: auto;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -10px;
}
nav ul.navigation li {
  margin-top: 10px;
}
nav ul.navigation a {
  position: relative;
}
nav ul.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  width: 0%;
  background-color: rgb(1, 143, 133);
  transition: 0.75s;
}
nav ul.navigation a:hover::after, nav ul.navigation a.active::after {
  width: 100%;
}
nav ul li {
  margin: 5px 5px;
}
nav ul li a {
  padding: 5px;
  text-transform: uppercase;
}
nav ul a {
  text-decoration: none;
  color: #fff;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 10em auto 10em auto;
}

h2.section-title {
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  position: relative;
}
h2.section-title::after {
  content: "";
  position: absolute;
  top: 55%;
  left: 15%;
  width: 90%;
  height: 0.4em;
  background-color: rgb(1, 143, 133);
  z-index: -1;
}

section.about h2 {
  margin-bottom: 1em;
}
section.about .top {
  margin-top: 5em;
  display: flex;
  align-items: center;
  flex: 1 1 0;
}
section.about .top svg {
  width: 25%;
}
section.about .top p {
  margin-left: 15%;
  width: 60%;
  color: #fff;
}

section.skillset {
  width: 85%;
}
section.skillset h2 {
  margin-bottom: 4em;
}
section.skillset hr.line {
  border: none;
  height: 2px;
  background-image: linear-gradient(to right, #000, #fff, #000);
  width: 100%;
}
section.skillset ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}
section.skillset ul li {
  margin: 1.5em 0.75em;
  padding: 0.25em;
  position: relative;
  height: 4em;
  width: 4em;
}
section.skillset ul li svg {
  height: 100%;
  width: 100%;
}
section.skillset ul li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  text-align: center;
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}
section.skillset ul li:hover {
  background-color: rgba(255, 255, 255, 0.142);
}
section.skillset ul li:hover::after {
  animation: slide-out-top 0.75s ease-out 0s 1 normal forwards;
}
section.skillset ul li.c-sharp:after {
  content: "C-Sharp";
}
section.skillset ul li.html:after {
  content: "Html-5";
}
section.skillset ul li.css:after {
  content: "Css-3";
}
section.skillset ul li.js:after {
  content: "Javascript";
}
section.skillset ul li.sass:after {
  content: "Sass";
}
section.skillset ul li.angular:after {
  content: "Angular";
}
section.skillset ul li.typescript:after {
  content: "Typescript";
}
section.skillset ul li.git:after {
  content: "Git";
}
section.skillset ul li.sql {
  background-clip: content-box;
  box-shadow: inset 0 0 0 0.5em transparent;
  background-color: white;
}
section.skillset ul li.sql:hover {
  box-shadow: inset 0 0 0 0.5em rgba(255, 255, 255, 0.142);
}
section.skillset ul li.sql:after {
  content: "Microsoft SQL";
}

section.projects article.project {
  margin-top: 5em;
  display: flex;
  justify-content: end;
}
section.projects article.project:nth-of-type(even) {
  flex-direction: row-reverse;
  justify-content: start;
}
section.projects article.project:nth-of-type(even) .text {
  margin-left: 0;
  margin-right: auto;
}
section.projects article.project img {
  width: 60%;
  object-fit: cover;
  object-position: center;
  max-height: 20em;
  align-self: center;
}
section.projects article.project .text {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 35%;
  color: #fff;
}
section.projects article.project .text h3 {
  font-size: 3em;
  position: relative;
}
section.projects article.project .text h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  height: 0.4em;
  background-color: rgb(245, 96, 70);
  z-index: -1;
}
section.projects article.project .text p {
  margin: 2em 0;
}
section.projects article.project .text a {
  color: #fff;
  width: 10em;
  text-transform: uppercase;
  margin-top: 2em;
  position: relative;
  cursor: pointer;
}
section.projects article.project .text a::after {
  content: "";
  position: absolute;
  bottom: -0.5em;
  left: 0;
  background-color: rgb(245, 96, 70);
  height: 3px;
  width: 100%;
}

section.experience {
  color: #fff;
}
section.experience .timeline {
  position: relative;
  width: 100%;
  margin-top: 5em;
}
section.experience .timeline::after {
  content: "";
  position: absolute;
  left: calc(50% + 1px);
  top: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.362);
}
section.experience .timeline .timeline-item {
  position: relative;
  margin-bottom: 2em;
  width: 100%;
}
section.experience .timeline .timeline-item .content {
  background-color: #282828;
  width: calc(40% - 2em);
  margin-right: auto;
  padding: 1em;
  border-radius: 10px;
}
section.experience .timeline .timeline-item .content h4 {
  font-weight: 600;
}
section.experience .timeline .timeline-item .content p {
  font-size: 0.8em;
  margin-top: 1em;
  font-weight: 200;
}
section.experience .timeline .timeline-item .content p a {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}
section.experience .timeline .timeline-item:nth-of-type(even) .content {
  margin-right: 0;
  margin-left: auto;
}
section.experience .timeline .timeline-item:nth-of-type(even) .date {
  left: calc(50% - 3em - 35px);
}
section.experience .timeline .timeline-item .circle {
  position: absolute;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  height: 1em;
  width: 1em;
  background-color: black;
  border: 2px solid rgb(245, 96, 70);
  border-radius: 50%;
  z-index: 1;
}
section.experience .timeline .timeline-item .date {
  position: absolute;
  top: calc(50% - 0.5em);
  left: calc(50% + 3em);
}

section.contact {
  width: 40%;
}
section.contact p {
  margin: 5em 0;
  color: #fff;
}
section.contact p a {
  color: #fff;
}
section.contact form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
section.contact form input,
section.contact form textarea {
  background-color: #282828;
  outline: none;
  border: none;
  margin-bottom: 0.5em;
  padding: 1em;
  color: #fff;
  font-family: montserrat, sans-serif;
}
section.contact form textarea {
  height: 5em;
}
section.contact form button {
  padding: 0.5em 1.25em;
  margin-top: 1em;
  position: relative;
  background-color: transparent;
  color: #fff;
  margin-left: auto;
  font-size: 1em;
  text-align: right;
  border: none;
  cursor: pointer;
}
section.contact form button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(245, 96, 70);
}
section.contact form button::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(245, 96, 70);
  z-index: -1;
}
section.contact form button:hover::before {
  transition: 0.3s;
  transform: translateY(-100%);
}
section.contact form button:hover::after {
  background-color: transparent;
}

.cover {
  transform: translateX(2px);
  width: 100%;
  height: 4em;
  background-color: black;
}

@keyframes title-slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-5em);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}
@keyframes title-slide-in-right {
  from {
    opacity: 0;
    transform: translateX(5em);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}
@keyframes slide-in-bottom {
  from {
    opacity: 0;
    transform: translateY(7em);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}
@keyframes slide-out-top {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(0.5em);
  }
  100% {
    opacity: 100;
    transform: translateY(2em);
  }
}
@media screen and (max-width: 850px) {
  section {
    width: 85%;
  }
  .hero {
    height: 85vh;
  }
  nav {
    height: 15vh;
    font-size: 1em;
  }
  nav ul.navigation {
    margin-left: 0;
  }
  section.about .top {
    flex-direction: column;
  }
  section.about .top p {
    text-align: center;
    margin: 3em 0;
  }
  section.skills h2 {
    margin-bottom: 2em;
  }
  section.projects article.project {
    flex-direction: column-reverse;
    align-items: center;
  }
  section.projects article.project:nth-of-type(even) {
    flex-direction: column-reverse;
    align-items: center;
  }
  section.projects article.project:nth-of-type(even) .text {
    margin-right: 0;
  }
  section.projects article.project .text {
    width: 60%;
    margin-bottom: 5em;
    align-items: center;
    text-align: center;
    margin-left: 0;
  }
  section.projects article.project .text h3 {
    font-size: 2em;
  }
  section.contact p {
    text-align: center;
  }
  section.contact button {
    margin: 1em auto 0 auto;
  }
}
@media screen and (max-width: 600px) {
  section {
    width: 90%;
  }
  .hero {
    height: calc(85vh - 10px);
  }
  nav {
    padding-top: 10px;
    font-size: 1em;
  }
  nav li.icon > a > svg {
    height: 1em;
    width: 1em;
  }
  nav li.name {
    display: none;
  }
  nav ul.navigation {
    margin-left: 0;
  }
  section.contact p {
    margin: 2em 0;
  }
}

/*# sourceMappingURL=main.css.map */
