/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  height: 200vh;
  overflow-x: hidden;
}

canvas {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  background-color: black;
}

.hero {
  height: 90vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero h1 {
  font-family: montserrat, sans-serif;
  font-size: 3em;
  color: #fff;
}
.hero h1.top {
  animation: title-slide-in-left 1.5s ease-out 0s 1 normal forwards;
}
.hero h1.bottom {
  animation: title-slide-in-right 1.5s ease-out 0s 1 normal forwards;
}
.hero span {
  color: rgb(1, 143, 133);
}
.hero a {
  position: relative;
  margin-top: 2em;
  color: rgb(1, 143, 133);
  border: 2px solid rgb(1, 143, 133);
  border-radius: 5px;
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  width: 8em;
  opacity: 0;
  animation: slide-in-bottom 1.5s ease-out 0.3s 1 normal forwards;
}
.hero a::after, .hero a::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  height: 100%;
  width: 100%;
  border: 2px solid rgb(1, 143, 133);
  transform-origin: 50%;
  border-radius: 5px;
}
.hero a:hover::after {
  filter: blur(2px);
  transform: scale(1.3, 2);
  opacity: 0;
  transition-duration: 1.2s;
  transition-timing-function: ease;
}
.hero a:hover::before {
  filter: blur(2px);
  transform: scale(1.3, 2);
  opacity: 0;
  transition-duration: 1.2s;
  transition-delay: 0.2s;
  transition-timing-function: ease;
}

nav {
  position: sticky;
  top: 0vh;
  height: 10vh;
  background-color: rgb(60, 60, 60);
  color: #fff;
  backdrop-filter: blur(10px);
}
nav .header-container {
  display: flex;
  height: 100%;
  width: 97vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  font-size: 1em;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul.social li {
  font-size: 1.5em;
}
nav ul.social svg {
  fill: #ccc;
  width: 1.5em;
  height: 1.5em;
}
nav ul.social svg:hover {
  fill: #fff;
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
}
nav ul.navigation {
  margin-left: auto;
  justify-content: center;
  flex-wrap: wrap;
}
nav ul.navigation a {
  position: relative;
}
nav ul.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  width: 0%;
  background-color: rgb(1, 143, 133);
  transition: 0.75s;
}
nav ul.navigation a:hover::after {
  width: 100%;
}
nav ul li {
  margin: 5px 5px;
}
nav ul li a {
  padding: 5px;
  text-transform: uppercase;
}
nav ul li a.active {
  color: rgb(1, 143, 133);
}
nav ul a {
  text-decoration: none;
  color: #fff;
}

@keyframes title-slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-5em);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}
@keyframes title-slide-in-right {
  from {
    opacity: 0;
    transform: translateX(5em);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}
@keyframes slide-in-bottom {
  from {
    opacity: 0;
    transform: translateY(7em);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}
@media screen and (max-width: 850px) {
  nav {
    height: 15vh;
    font-size: 1em;
  }
  nav ul.navigation {
    margin-left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
