@use "./base/reset";
@use "./base/_variables.scss" as *;

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $background-grey-dark;
  font-family: montserrat, sans-serif;
  &.locked {
    overflow: hidden;
  }
}
canvas {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
}
.wrapper {
  position: relative;
}
section.home {
  margin: 0;
  width: 100%;
  .hero {
    height: 90vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
      font-size: 3em;
      color: $white;
      &.top {
        animation: title-slide-in-left 1.5s ease-out 0s 1 normal forwards;
      }
      &.bottom {
        animation: title-slide-in-right 1.5s ease-out 0s 1 normal forwards;
      }
    }
    span {
      color: $primary;
    }
    a {
      position: relative;
      margin-top: 2em;
      color: $primary;
      border: 2px solid $primary;
      border-radius: 5px;
      padding: 0.5em 1.5em;
      font-size: 1.5em;
      width: 8em;
      opacity: 0;
      animation: slide-in-bottom 1.5s ease-out 0.3s 1 normal forwards;
      &::after,
      &::before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        height: 100%;
        width: 100%;
        border: 2px solid $primary;
        transform-origin: 50%;
        border-radius: 5px;
      }
      &:hover {
        &::after {
          filter: blur(2px);
          transform: scale(1.3, 2);
          opacity: 0;
          transition-duration: 1.2s;
          transition-timing-function: ease;
        }
        &::before {
          filter: blur(2px);
          transform: scale(1.3, 2);
          opacity: 0;
          transition-duration: 1.2s;
          transition-delay: 0.2s;
          transition-timing-function: ease;
        }
      }
    }
  }
}

nav {
  position: sticky;
  top: 0vh;
  height: 10vh;
  padding-top: 1em;
  background-color: $darkgrey;
  color: $white;
  z-index: 10;
  .header-container {
    display: flex;
    height: 100%;
    width: 97vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    font-size: 1em;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    &.social {
      li {
        font-size: 1.5em;

        &.icon {
          a {
            display: block;
            svg {
              fill: $grey;
              width: 1.5em;
              height: 1.5em;
              &:hover {
                fill: $white;
                transform: scale(1.1, 1.1);
                transition-duration: 0.5s;
              }
            }
          }
        }
      }
    }
    &.navigation {
      margin-left: auto;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: -10px;
      li {
        margin-top: 10px;
      }
      a {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -3px;
          height: 3px;
          width: 0%;
          background-color: $primary;
          transition: 0.75s;
        }
        &:hover,
        &.active-section {
          &::after {
            width: 100%;
          }
        }
      }
    }
    li {
      margin: 5px 5px;
      a {
        padding: 5px;
        text-transform: uppercase;
      }
    }
    a {
      text-decoration: none;
      color: $white;
    }
  }
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 10em auto 10em auto;
}
h2.section-title {
  color: $white;
  font-size: 3em;
  font-weight: 700;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 55%;
    left: 15%;
    width: 90%;
    height: 0.4em;
    background-color: $primary;
    z-index: -1;
  }
}
section.about {
  h2 {
    margin-bottom: 1em;
  }
  .top {
    margin-top: 5em;
    display: flex;
    align-items: center;
    flex: 1 1 0;
    svg {
      width: 25%;
    }
    p {
      margin-left: 15%;
      width: 60%;
      color: $white;
    }
  }
}
section.skillset {
  width: 85%;
  h2 {
    margin-bottom: 2em;
  }
  p {
    width: 75%;
    color: $white;
    margin-bottom: 7em;
  }
  hr.line {
    border: none;
    height: 2px;
    background-image: linear-gradient(
      to right,
      $background-grey-dark,
      rgba(255, 255, 255, 0.6),
      $background-grey-dark
    );
    width: 100%;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    li {
      margin: 1.5em 0.75em;
      padding: 0.25em;
      position: relative;
      height: 4em;
      width: 4em;
      svg {
        height: 100%;
        width: 100%;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        text-align: center;
        width: 100%;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        font-size: 1em;
        font-weight: 600;
        color: $white;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.142);

        &::after {
          animation: slide-out-top 0.75s ease-out 0s 1 normal forwards;
        }
      }
      &.c-sharp {
        &:after {
          content: "C-Sharp";
        }
      }
      &.html {
        &:after {
          content: "Html-5";
        }
      }
      &.css {
        &:after {
          content: "Css-3";
        }
      }
      &.js {
        &:after {
          content: "Javascript";
        }
      }
      &.sass {
        &:after {
          content: "Sass";
        }
      }
      &.angular {
        &:after {
          content: "Angular";
        }
      }
      &.typescript {
        &:after {
          content: "Typescript";
        }
      }
      &.git {
        &:after {
          content: "Git";
        }
      }
      &.sql {
        background-clip: content-box;
        box-shadow: inset 0 0 0 0.5em transparent;
        background-color: white;
        &:hover {
          box-shadow: inset 0 0 0 0.5em rgba(255, 255, 255, 0.142);
        }
        &:after {
          content: "Microsoft SQL";
        }
      }
    }
  }
}

section.projects {
  article.project {
    margin-top: 5em;
    display: flex;
    justify-content: end;
    &:nth-of-type(even) {
      flex-direction: row-reverse;
      justify-content: start;
      .text {
        margin-left: 0;
        margin-right: auto;
      }
    }
    img {
      width: 60%;
      object-fit: cover;
      object-position: center;
      max-height: 20em;
      align-self: center;
    }
    .text {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      width: 35%;
      color: $white;
      h3 {
        font-size: 3em;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 15%;
          width: 70%;
          height: 0.4em;
          background-color: $secondary;
          z-index: -1;
        }
      }
      p {
        margin: 2em 0;
      }
      a {
        color: $white;
        width: 10em;
        text-transform: uppercase;
        margin-top: 2em;
        position: relative;
        padding: 5px;
        cursor: pointer;
        &::before {
          content: "";
          position: absolute;
          bottom: -0.5em;
          left: 0;
          width: 100%;
          height: 0%;
          background-color: $secondary;
          z-index: -1;
          transition: 0.5s;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -0.5em;
          left: 0;
          background-color: $secondary;
          height: 3px;
          width: 100%;
        }
        &:hover {
          &::before {
            height: 2.5em;
          }
        }
      }
    }
  }
}
section.experience {
  color: $white;
  .timeline {
    position: relative;
    width: 100%;
    margin-top: 5em;
    &::after {
      content: "";
      position: absolute;
      left: calc(50% + 1px);
      top: 0;
      width: 1px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.362);
    }
    .timeline-item {
      position: relative;
      margin-bottom: 2em;
      width: 100%;
      .content {
        background-color: $background-grey;
        width: calc(40% - 2em);
        margin-right: auto;
        padding: 1em;
        border-radius: 10px;
        h4 {
          font-weight: 600;
        }
        p {
          font-size: 0.8em;
          margin-top: 1em;
          font-weight: 200;
          a {
            color: $white;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
      &:nth-of-type(even) {
        .content {
          margin-right: 0;
          margin-left: auto;
        }
        .date {
          left: calc(50% - 3em - 35px);
        }
      }
      .circle {
        position: absolute;
        top: calc(50% - 0.5em);
        left: calc(50% - 0.5em);
        height: 1em;
        width: 1em;
        background-color: $background-grey-dark;
        border: 2px solid $secondary;
        border-radius: 50%;
        z-index: 1;
      }
      .date {
        position: absolute;
        top: calc(50% - 0.5em);
        left: calc(50% + 3em);
      }
    }
  }
}
section.contact {
  width: 40%;
  p {
    margin: 5em 0;
    color: $white;
    a {
      color: $white;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    input,
    textarea {
      background-color: $background-grey;
      outline: none;
      border: none;
      margin-bottom: 0.5em;
      padding: 1em;
      color: $white;
      font-family: montserrat, sans-serif;
    }
    textarea {
      height: 5em;
    }
    button {
      padding: 0.5em 1.25em;
      margin-top: 1em;
      position: relative;
      background-color: transparent;
      color: $white;
      margin-left: auto;
      font-size: 1em;
      text-align: right;
      border: none;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $secondary;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: $secondary;
        z-index: -1;
        transition: 0.5s;
      }
      &:hover {
        &::before {
          height: 100%;
        }
        &::after {
          background-color: transparent;
        }
      }
    }
  }
}

@keyframes title-slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-5em);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}
@keyframes title-slide-in-right {
  from {
    opacity: 0;
    transform: translateX(5em);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}
@keyframes slide-in-bottom {
  from {
    opacity: 0;
    transform: translateY(7em);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}
@keyframes slide-out-top {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(0.5em);
  }
  100% {
    opacity: 100;
    transform: translateY(2em);
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 875px) {
  section {
    width: 85%;
  }
  nav {
    font-size: 1em;
    li.name {
      display: none;
    }
  }
  section.about {
    .top {
      flex-direction: column;
      p {
        text-align: center;
        margin: 3em 0;
      }
    }
  }
  section.skillset {
    p.text {
      text-align: center;
    }
  }
  section.projects {
    article.project {
      flex-direction: column-reverse;
      align-items: center;
      &:nth-of-type(even) {
        flex-direction: column-reverse;
        align-items: center;
        .text {
          margin-right: 0;
        }
      }
      img {
        width: 80%;
      }
      .text {
        width: 90%;
        margin-bottom: 5em;
        align-items: center;
        h3 {
          font-size: 2em;
        }
        text-align: center;
        margin-left: 0;
      }
    }
  }
  section.contact {
    p {
      text-align: center;
    }
    button {
      margin: 1em auto 0 auto;
    }
  }
}
@media screen and (max-width: 700px) {
  nav {
    ul.social > li.icon > a > svg {
      fill: $white;
    }
    ul.navigation {
      display: none;
      height: 0;
      transition: 1s;
      li {
        opacity: 0;
      }
      &.visible {
        height: 105vh;
        li {
          animation: opacity 1s linear 0.25s 1 normal forwards;
        }
      }
      &.open {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        z-index: -1;
        li {
          margin-top: 30px;
        }
      }
    }
    a.mobile-menu-icon {
      display: block;
      margin-left: auto;
      margin-right: 10px;
      height: 1.5em;
      width: 1.5em;
      padding: 5px;
      svg {
        width: 100%;
        height: 100%;
        fill: $white;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  section {
    width: 90%;
  }

  nav {
    li.icon > a > svg {
      height: 1em;
      width: 1em;
    }
    font-size: 1em;
  }
  section.contact {
    width: 75%;
    p {
      margin: 2em 0;
    }
  }
}
